@{
    var ButtonList = this.MenuTree.Where(o => (o.MenuType == MenuType.TableButton || o.MenuType == MenuType.RowButton) && o.ParentID == 3).ToList();
    var TableButtonList = this.MenuTree.Where(o => o.MenuType == MenuType.TableButton && o.ParentID == 3).ToList();
    //var RowButtonList = this.MenuTree.Where(o => o.MenuType == MenuType.RowButton && o.ParentID == 3).Select(o => new {o.ID, o.Name, o.Method,o.Icon,o.Url }).ToList();
    //string RowButtonJson = Newtonsoft.Json.JsonConvert.SerializeObject(RowButtonList);
}
<style>
    .Icons {
        background-image:url('/Content/css/Icon.png');
        background-repeat:no-repeat;
    }
    .Icons-accept {
        background-position:0px 0px;
    }
    .Icons-add {
        background-position:-16px 0px;
    }
    .Icons-anchor {
        background-position:-32px 0px;
    }
    .Icons-app {
        background-position:-48px 0px;
    }
    .Icons-app_cascade {
        background-position:-64px 0px;
    }
    .Icons-app_double {
        background-position:-80px 0px;
    }
    .Icons-app_form {
        background-position:-96px 0px;
    }
    .Icons-app_form_magnify {
        background-position:-112px 0px;
    }
    .Icons-app_side_list {
        background-position:-128px 0px;
    }
    .Icons-app_side_tree {
        background-position:-144px 0px;
    }
    .Icons-app_view_list {
        background-position:-160px 0px;
    }
    .Icons-asterisk_yellow {
        background-position:-176px 0px;
    }
    .Icons-attach {
        background-position:-192px 0px;
    }
    .Icons-auction_hammer {
        background-position:-208px 0px;
    }
    .Icons-award_star_gold_3 {
        background-position:-224px 0px;
    }
    .Icons-balance {
        background-position:-240px 0px;
    }
    .Icons-bank {
        background-position:-256px 0px;
    }
    .Icons-basket {
        background-position:-272px 0px;
    }
    .Icons-bell {
        background-position:-288px 0px;
    }
    .Icons-bomb {
        background-position:-304px 0px;
    }
    .Icons-book {
        background-position:-320px 0px;
    }
    .Icons-book_addresses {
        background-position:-336px 0px;
    }
    .Icons-book_open {
        background-position:-352px 0px;
    }
    .Icons-bricks {
        background-position:-368px 0px;
    }
    .Icons-building {
        background-position:-384px 0px;
    }
    .Icons-calendar_day {
        background-position:-400px 0px;
    }
    .Icons-cancel {
        background-position:-416px 0px;
    }
    .Icons-car {
        background-position:-432px 0px;
    }
    .Icons-cart {
        background-position:-448px 0px;
    }
    .Icons-chart_bar {
        background-position:-464px 0px;
    }
    .Icons-chart_curve {
        background-position:-480px 0px;
    }
    .Icons-chart_line {
        background-position:-496px 0px;
    }
    .Icons-chart_organisation {
        background-position:-512px 0px;
    }
    .Icons-chart_pie {
        background-position:-528px 0px;
    }
    .Icons-clock {
        background-position:-544px 0px;
    }
    .Icons-clock_red {
        background-position:-560px 0px;
    }
    .Icons-cog {
        background-position:-576px 0px;
    }
    .Icons-coins {
        background-position:-592px 0px;
    }
    .Icons-comment {
        background-position:-608px 0px;
    }
    .Icons-comments {
        background-position:-624px 0px;
    }
    .Icons-computer {
        background-position:-640px 0px;
    }
    .Icons-connect {
        background-position:-656px 0px;
    }
    .Icons-credit_card {
        background-position:-672px 0px;
    }
    .Icons-credit_card_green {
        background-position:-688px 0px;
    }
    .Icons-cross {
        background-position:-704px 0px;
    }
    .Icons-database {
        background-position:-720px 0px;
    }
    .Icons-delete {
        background-position:-736px 0px;
    }
    .Icons-disconnect {
        background-position:-752px 0px;
    }
    .Icons-disk {
        background-position:-768px 0px;
    }
    .Icons-drive {
        background-position:-784px 0px;
    }
    .Icons-drive_user {
        background-position:-800px 0px;
    }
    .Icons-drive_web {
        background-position:-816px 0px;
    }
    .Icons-edit_add {
        background-position:-832px 0px;
    }
    .Icons-edit_remove {
        background-position:-848px 0px;
    }
    .Icons-email {
        background-position:-864px 0px;
    }
    .Icons-error {
        background-position:-880px 0px;
    }
    .Icons-flag_blue {
        background-position:-896px 0px;
    }
    .Icons-group {
        background-position:-912px 0px;
    }
    .Icons-heart {
        background-position:-928px 0px;
    }
    .Icons-help {
        background-position:-944px 0px;
    }
    .Icons-hourglass {
        background-position:-960px 0px;
    }
    .Icons-image {
        background-position:-976px 0px;
    }
    .Icons-images {
        background-position:0px -16px;
    }
    .Icons-key {
        background-position:-16px -16px;
    }
    .Icons-lightbulb {
        background-position:-32px -16px;
    }
    .Icons-lightbulb_off {
        background-position:-48px -16px;
    }
    .Icons-lightning {
        background-position:-64px -16px;
    }
    .Icons-link {
        background-position:-80px -16px;
    }
    .Icons-link_break {
        background-position:-96px -16px;
    }
    .Icons-lock {
        background-position:-112px -16px;
    }
    .Icons-lock_open {
        background-position:-128px -16px;
    }
    .Icons-lorry {
        background-position:-144px -16px;
    }
    .Icons-magnifier {
        background-position:-160px -16px;
    }
    .Icons-map {
        background-position:-176px -16px;
    }
    .Icons-medal_gold_2 {
        background-position:-192px -16px;
    }
    .Icons-money {
        background-position:-208px -16px;
    }
    .Icons-money_dollar {
        background-position:-224px -16px;
    }
    .Icons-money_yen {
        background-position:-240px -16px;
    }
    .Icons-monitor {
        background-position:-256px -16px;
    }
    .Icons-ok {
        background-position:-272px -16px;
    }
    .Icons-page {
        background-position:-288px -16px;
    }
    .Icons-pencil {
        background-position:-304px -16px;
    }
    .Icons-print {
        background-position:-320px -16px;
    }
    .Icons-rainbow {
        background-position:-336px -16px;
    }
    .Icons-redo {
        background-position:-352px -16px;
    }
    .Icons-rosette {
        background-position:-368px -16px;
    }
</style>
<table id="tableList" class="easyui-treegrid" toolbar="#tb" title="菜单管理" iconcls="icon-new" >
    <thead>
        <tr>
            <th data-options="field:'ck',width:20,checkbox:true"></th>
            <th data-options="field:'Name',width:150">名称</th>
            <th data-options="field:'Url',width:150">Url</th>
            <th data-options="field:'MenuType',width:40,formatter:MenuTypeName">类型</th>
            <th data-options="field:'Control',width:80">控制器</th>
            <th data-options="field:'Method',width:80">操作</th>
            <th data-options="field:'State',width:30,formatter:show.StateName">状态</th>
            <th data-options="field:'Sort',width:30">排序</th>
            <th data-options="field:'AddTime',width:120,formatter:show.formatDate">添加时间</th>
            @*<th data-options="field:'Operate',width:60">操作</th>*@
        </tr>
    </thead>
</table>
<div id="tb">
    <a class="easyui-linkbutton" iconcls="Icons Icons-pencil" plain="true" onclick="javascript: location.reload();">刷新</a>
    @foreach (var item in TableButtonList)
    {
        <a class="easyui-linkbutton" iconcls="@(item.Icon)" plain="true" onclick="javascript: @(item.Method)('@(item.Url)','@(item.Name)','@(item.Icon)')">@(item.Name)</a>
    }
</div>

<div id="ModelForm"></div>
@section Scripts{
<script>
    @*var rowButtons = @(Html.Raw(RowButtonJson));*@
    $(function () {
        $('#tableList').treegrid({
            url: '/Menu/TableList',
            idField: 'ID',
            treeField: 'Name',
            fitColumns: true,
            striped: true,
            checkOnSelect: false,
            selectOnCheck: false,
            height:$(window).height()-25,
            loadFilter: function (data) {
                //data = UI.RowButton(rowButtons,data);
                return UI.LoadTreegrId(data);
            },
            onLoadSuccess: function (row, data) {
                //UI.ShowRowButton(rowButtons,data);
            }
        });
    });
    

    function Add(url,title,iconCls)
    {
        var Selected = $('#tableList').treegrid('getSelections');
        if(Selected.length == 1){ 
            url += "?ParentID="+ Selected[0].ID 
        }
        UI.Windows({
            id:"ModelForm",
            url:url,
            width:580,
            height:350,
            iconCls:iconCls,
            title:title
        });
    }

    function Edit(url,title,iconCls)
    {
        var Selected = $('#tableList').treegrid('getSelections');
        if(Selected.length <= 0)
        {
            $.messager.alert('提示信息','请选择一行数据！','warning');
            return;
        }
        if(Selected[0].ID == 1)
        {
            $.messager.alert('提示信息','不能编辑根目录','warning');
            return;
        }

        UI.Windows({
            id:"ModelForm",
            url:url + "?Id="+ Selected[0].ID,
            width:580,
            height:350,
            iconCls:iconCls,
            title:title
        });
    }

    function Del(url,title,iconCls)
    {
        var alertMessage = "";
        var valArr = new Array;
        var Selected = $('#tableList').treegrid('getChecked');
        if(Selected.length <= 0)
        {
            $.messager.alert('提示信息','请至少勾选一行数据！','warning');
            return;
        }
        $.each(Selected,function(i, n){
            if(n.children != null)
            {
                alertMessage = '请先清空"'+n.Name+'"下面的子项';
                return;
            }
            if(n.ID == 1)
            {
                alertMessage = '根目录不能删除';
                return;
            }
            valArr[i] = n.ID;
        });
        if(alertMessage != "")
        {
            $.messager.alert('提示信息',alertMessage,'warning');
            return;
        }
        var ids = valArr.join(',');
        $.messager.confirm('确认对话框',"确认要删除数据？", function(r){
            if (r){
                $.post(url, { ids: ids},function(result){
                    if(result.data.IsSuccess)
                    {
                        $("#tableList").treegrid('reload');
                    }
                    $.messager.alert('提示信息',result.data.Message,'info');
                },'json');
            }
        });
    }

    function MenuTypeName(value,row,index)
    {
        var returl = "";
        switch(value)
        {
            case 1:
                returl = "目录"
                break;
            case 2:
                returl = "介面"
                break;
            case 3:
                returl = "表按钮"
                break;
            case 4:
                returl = "权限"
                break;
            case 5:
                returl = "行按钮"
                break;
        }
        return returl;
    }

</script>
}