@{
    M_Manage M_Manage = ViewBag.M_Manage ?? new M_Manage();
    List<M_Role> M_RoleList = ViewBag.M_RoleList;

    var RoleListJsonModelList = M_RoleList.Select(o => new DataListModel() { value = o.ID.ToString(), text = o.Name }).ToList();
    if (!M_Manage.RoleIDs.IsNullOrEmpty())
    {
        string[] RoleIDs = M_Manage.RoleIDs.Split(',');
        RoleListJsonModelList.ForEach(o =>
        {
            if (RoleIDs.Contains(o.value))
            {
                o.@checked = true;
            }
        });
    }
    var RoleListJson = Newtonsoft.Json.JsonConvert.SerializeObject(RoleListJsonModelList);
    
}
<form id="datafrom" method="post" action="/@(this.ControllerName)/@(this.ActionName)?datagridid=tableList" class="panel-body panel-body-noborder window-body">
    <div id="cc" class="easyui-layout" data-options="height:$(window).height()-10">
        <div data-options="region:'west',split:true,collapsible:false,title:'基础资料'" style="width:300px;">
            <input type="hidden" name="id" value="@(M_Manage.ID)" />
            <input type="hidden" id="RoleIDs" name="RoleIDs" value="@(M_Manage.RoleIDs)" />
            <table cellpadding="5">
                <tr>
                    <td>姓名</td>
                    <td style="width:200px;"><input name="TrueName" value="@(M_Manage.TrueName)" class="easyui-textbox" data-options="iconCls:'icon-vcard',validType:'maxLength[20]',required:true,width:'100%'" /></td>
                </tr>
                <tr>
                    <td>账号</td>
                    <td style="width:200px;"><input name="UserName" value="@(M_Manage.UserName)" class="easyui-textbox" data-options="iconCls:'icon-user_gray',validType:'maxLength[20]',required:true,width:'100%'" /></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input name="Password" value="" class="easyui-textbox" data-options="iconCls:'icon-key',validType:'maxLength[20]',@(M_Manage.ID == 0 ? "required:true," : "")width:'100%'" /></td>
                </tr>
                <tr>
                    <td>移动电话</td>
                    <td style="width:200px;"><input name="Mobile" value="@(M_Manage.Mobile)" class="easyui-textbox" data-options="iconCls:'icon-mobile_phone',validType:'maxLength[30]',width:'100%'" /></td>
                </tr>
                <tr>
                    <td>电子邮箱</td>
                    <td style="width:200px;"><input name="Email" value="@(M_Manage.Email)" class="easyui-textbox" data-options="iconCls:'icon-email',validType:'maxLength[50]',width:'100%'" /></td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>
                        <select name="State" class="easyui-combobox" data-options="panelHeight:'auto',editable:false,width:'100%'">
                            <option value="@(State.Normal)" @(M_Manage.State == State.Normal ? "selected" : "")>正常</option>
                            <option value="@(State.Lock)" @(M_Manage.State == State.Lock ? "selected" : "")>停用</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>添加时间</td>
                    <td>
                        @(M_Manage.AddTime != DateTime.MinValue ? M_Manage.AddTime.ToString("yyyy-MM-dd HH:mm") : "--")
                    </td>
                </tr>

            </table>
        </div>
        <div data-options="region:'center',title:'角色设置'" style="width:300px;">
            <ul id="RoleList"></ul>
        </div>
        <div data-options="region:'south'" style="height:30px;text-align:right;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="javascript:$('#datafrom').submit()">提交</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="javascript:parent.UI.CloseWindow('#ModelForm')">关闭</a>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        var json = @(this.Html.Raw(RoleListJson));
        $(function () {
            $('#RoleList').datalist({ 
                checkbox: true,
                lines: true,
                data:json
            });  
            //勾选单选UI不能转换，要以下操作
            var RoleData = $('#RoleList').datalist("getData");
            $.each( RoleData.rows, function(i, n){
                if(n.checked)
                {
                    $('#RoleList').datalist("checkRow",i);
                }
            });
        });

        $("#datafrom").submit(function () {
            if (!$('#datafrom').form('validate')) {
                return false;
            }
            else
            {
                var Selected = $('#RoleList').datalist('getChecked');	
                var RoleIDs = "";
                if(Selected.length>0)
                {
                    var arrayObj = new Array();
                    $.each( Selected, function(i, n){
                        arrayObj.push(n.value);
                    });
                    RoleIDs = arrayObj.join(',');
                }
                $("#RoleIDs").val(RoleIDs);
            }
            
        });
    </script>
}
