@{
    var ButtonList = this.MenuTree.Where(o => (o.MenuType == MenuType.TableButton || o.MenuType == MenuType.RowButton) && o.ParentID == 56).ToList();
    var TableButtonList = this.MenuTree.Where(o => o.MenuType == MenuType.TableButton && o.ParentID == 56).ToList();
    var RowButtonList = this.MenuTree.Where(o => o.MenuType == MenuType.RowButton && o.ParentID == 56).ToList();
}
<div id="cc" class="easyui-layout" style="width:100%;" data-options="height:$(window).height()-35">
    <div data-options=" region:'west',border:false,split:true" style="width:100%;">
        <table id="tableList" class="easyui-datagrid" toolbar="#tb" title="角色管理" iconcls="icon-new" data-options="
            url:'/Role/TableList',
            idField:'ID',
            singleSelect:false,
            pagination:true,
            rownumbers:true,
            pageSize:20,
            striped:true,
            height: $(window).height() - 35
            ">
            <thead>
                <tr>
                    <th data-options="field:'ck',checkbox:true"></th>
                    <th data-options="field:'Name',width:200">名称</th>
                    <th data-options="field:'State',width:60,formatter:show.StateName">状态</th>
                    <th data-options="field:'Sort',width:60">排序</th>
                    <th data-options="field:'Describe'">描述</th>
                    <th data-options="field:'AddTime',width:130,formatter:show.formatDate">添加时间</th>
                    <th data-options="field:'X',width:60,formatter:">操作</th>
                </tr>
            </thead>
            <div id="tb">
                @foreach (var item in TableButtonList)
                {
                    <a class="easyui-linkbutton" iconcls="@(item.Icon)" plain="true" onclick="javascript: @(item.UIEvent)('@(item.Url)','@(item.Name)','@(item.Icon)')">@(item.Name)</a>
                }
                @foreach (var item in RowButtonList)
                {
                    item.UIEvent
                }
            </div>
        </table>
        <div id="ModelForm"></div>
    </div>
</div>  

@section Scripts{
<script>

    function ShowAdd(url,title,iconCls)
    {
        UI.Windows({
            id:"ModelForm",
            url:url,
            width:600,
            height:500,
            iconCls:iconCls,
            title:title
        });
    }

    function ShowEdit(url,title,iconCls)
    {
        var Selected = $('#tableList').treegrid('getSelections');
        if(Selected == null)
        {
            $.messager.alert('提示信息','请选择一行数据！','warning');
            return;
        }

        UI.Windows({
            id:"ModelForm",
            url:url + "?Id="+ Selected[0].ID,
            width: 600,
            height: 500,
            iconCls:iconCls,
            title:title
        });
    }

    function Del(url,title,iconCls)
    {
        var Selected = $('#tableList').treegrid('getSelections');
        var ids = "";
        if(Selected == null)
        {
            $.messager.alert('提示信息','请至少选择一行数据！','warning');
            return;
        }
        ids = ids.substr(0, ids.length-1);
        $.messager.confirm('确认对话框',"确认要删除数据？", function(r){
            if (r){
                $.post(url, { ids: ids},function(result){
                    if(result.data.IsSuccess)
                    {
                        $("#tableList").treegrid('reload');
                    }
                    $.messager.alert('提示信息',result.data.Message,'info');
                },'json');
            }
        });
    }

    

</script>
}