@{
    var ButtonList = this.MenuTree.Where(o => o.MenuType == MenuType.Button && o.ParentID == 56).ToList();
    var MenuTreeList = new { rows = this.MenuTree.Where(o => o.State == State.Normal), total = 0 };
    string json = Newtonsoft.Json.JsonConvert.SerializeObject(MenuTreeList);
}
<div id="cc" class="easyui-layout" style="width:100%;" data-options="height:$(window).height()-35">
    <div data-options=" region:'west',border:false,split:true" style="width:100%;">
        <table id="tableList" class="easyui-datagrid" toolbar="#tb" title="角色管理" iconcls="icon-new" data-options="
            url:'/Role/Index',
            idField:'ID',
            singleSelect:false,
            ctrlSelect:true,
            pagination:true,
            rownumbers:true,
            pageSize:20,
            striped:true,
            height: $(window).height() - 35
            ">
            <thead>
                <tr>
                    <th data-options="field:'Name',width:200">名称</th>
                    <th data-options="field:'State',width:60,formatter:show.StateName">状态</th>
                    <th data-options="field:'Sort',width:60">排序</th>
                    <th data-options="field:'Describe'">描述</th>
                    <th data-options="field:'AddTime',width:130,formatter:show.formatDate">添加时间</th>
                </tr>
            </thead>
            <div id="tb" style="text-align:right;">
                @foreach (var item in ButtonList)
                {
                    <a class="easyui-linkbutton" iconcls="@(item.Icon)" plain="true" onclick="javascript: @(item.UIEvent)('@(item.Url)','@(item.Name)','@(item.Icon)')">@(item.Name)</a>
                }
            </div>
        </table>
        <div id="ModelForm"></div>
    </div>
</div>  

@section Scripts{
<script>
    var json = @(this.Html.Raw(json));

    //easyui解析器
    $.parser.onComplete = function () {
        //var newdata = LoadJson(json,"3,6,8");
        //$('#powerList').treegrid('loadData', newdata);
        ////$('#powerList').datagrid('reload');
        
        //$('#tableList').datagrid({
        //    onSelect: function (index, row) {
        //        console.log(row.MenuIDs);
        //        var ab = LoadJson(json,row.MenuIDs);
        //        $('#powerList').treegrid('loadData', ab);
        //        $('#powerList').treegrid('reload');
        //    }
        //});

    };

    function LoadJson(data,powers)
    {
        var newdata = data;
        var powersArr;
        if(powers!=null && powers != "")
        {
            powersArr = powers.split(",");
        }
        $.each(newdata.rows, function(i,n) {
            if(parseInt(n.ParentID) != 0){
                newdata.rows[i]._parentId = n.ParentID;
            }

            if(n.Icon!='')
            {
                newdata.rows[i].iconCls = n.Icon;
            }
            $.each(powersArr,function(k,v)
            {
                if(n.ID == parseInt(v))
                {
                    newdata.rows[i].checked = true;
                }
            });
            
        });

        return newdata;
    }

    function ShowAdd(url,title,iconCls)
    {
        show.Windows({
            id:"ModelForm",
            url:url,
            width:400,
            height:300,
            iconCls:iconCls,
            title:title
        });
    }

    function ShowEdit(url,title,iconCls)
    {
        var Selected = $('#tableList').treegrid('getSelections');
        if(Selected == null)
        {
            $.messager.alert('提示信息','请选择一行数据！','warning');
            return;
        }

        show.Windows({
            id:"ModelForm",
            url:url + "?Id="+ Selected[0].ID,
            width:400,
            height:300,
            iconCls:iconCls,
            title:title
        });
    }

    function Del(url,title,iconCls)
    {
        var Selected = $('#tableList').treegrid('getSelections');
        var ids = "";
        if(Selected == null)
        {
            $.messager.alert('提示信息','请至少选择一行数据！','warning');
            return;
        }
        ids = ids.substr(0, ids.length-1);
        $.messager.confirm('确认对话框',"确认要删除数据？", function(r){
            if (r){
                $.post(url, { ids: ids},function(result){
                    if(result.data.IsSuccess)
                    {
                        $("#tableList").treegrid('reload');
                    }
                    $.messager.alert('提示信息',result.data.Message,'info');
                },'json');
            }
        });
    }

    function MenuTypeName(value,row,index)
    {
        var returl = "";
        switch(value)
        {
            case 1:
                returl = "目录"
                break;
            case 2:
                returl = "介面"
                break;
            case 3:
                returl = "按钮"
                break;
            case 4:
                returl = "权限"
                break;
        }
        return returl;
    }

</script>
}